body {
  font-family: "Poppins", serif;
  font-weight: 700;
  font-style: normal;

  background-color: #004a2f;
}
.container {
  max-width: 1400px;
  margin: 0 auto;
}

header {
  color: wheat;
  text-align: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/images/cobh.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 200px 0;
}

footer {
  background-image: linear-gradient(rgba(0, 74, 47, 0.7), rgba(0, 74, 47, 0.7)),
    url("/images/city.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 50px 20px;
  color: wheat;
}
section {
    max-width: 1400px;
}
.footerGrid {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  padding: 10px 10px;
}

h1 {
  font-size: 96px;
  line-height: 1.5;
  margin: 0;
}
h2 {
  font-size: 24px;
  margin: 0;
  text-transform: uppercase;
}

h3 {
  font-size: 40px;
  font-weight: 400;
  margin: 0;
}

header a {
  text-transform: uppercase;
  padding: 20px;
  font-size: 14px;
  border-style: none;
  background-color: wheat;
  display: inline-block;
  color: #004a2f;
  letter-spacing: 3px;
  margin-top: 32px;
}
footer h3 {
  font-size: 20px;
}
footer ul {
  padding: 0;
}
footer li {
  list-style: none;
  margin: 0;
  padding: 0;
}
footer p {
  margin-right: 20px;
}
footer ul,
p {
  font-size: 16px;
  font-weight: 400;
  opacity: 70%;
}
footer a {
  color: wheat;
}

@media (max-width: 900px) {
  header {
    padding: 60px 0;
  }
  h1 {
    font-size: 50px;
  }
  h2 {
    font-size: 20px;
  }
  h3 {
    font-size: 12px;
  }
  .footerGrid {
    grid-template-columns: 1fr;
  }
}
